table {
  width: 100%;
}

.mat-column-operation {
  max-width: 95px;
  text-align: center;
}

.file-search {
  width: 100%;
}

.file-select {
  margin-right: 20px;
}

#file-add-btn {
  right: 0;
  position: absolute;
}

.file-operation-btn {
  margin: 10px 0;
}

.file-operation-icon {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

.file-count {
  margin-top: 20px;
}

h5 {
  display: inline-block;
  margin-right: 10px;
}

.file-date-picker {
  margin-right: 20px;
}

.mat-header-cell {
  padding-right: 10px;
}
