h5 {
  display: inline-block;
  margin-right: 15px;
}

mat-form-field {
  width: 80%;
  margin-top: 15px;
}

.textAreaInput {
  width: 100%;
  margin: 0 15px;
}

.mat-checkBox {
  margin-top: 32px;
}

.records-find-btn {
  margin-left: 15px;
}

.mat-radio-button {
  display: block;
}

button + button {
  margin-left: 10px;
}

.search-icon {
  i {
    color: gray;
  }
  &:hover {
    i {
      color: #333;
    }
    cursor: pointer;
  }
  &.disabled {
    pointer-events: none;
  }
}
input[disabled],
textarea[disabled] {
  color: gray;
  font-weight: bold;
}
