.mat-column-list-ip {
  max-width: 50%;
}

.mat-column-oparation,
.mat-column-note {
  max-width: 25%;
}

.mat-operation-icon {
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.page-header {
  margin: 10px 0;

  .page-title {
    margin-bottom: 20px;
    color: #666;
  }

  .toolbar {
  }
}

.search-fields {
  width: 90%;
}
